{% extends 'base.html' %} {% block title %}Mes réservations{% endblock %} 
{% block content %}

<h2>Mes réservations</h2>

{% if messages %} {% for message in messages %}
<div class="alert alert-success">{{ message }}</div>
{% endfor %} {% endif %}

<ul class="list-group">
  {% for r in reservations %}
  <li class="list-group-item">
    📅 <strong>{{ r.date }}</strong> à <strong>{{ r.heure }}</strong> – {{ r.nombre_personnes }} personnes <br />
    ☎️ {{ r.telephone }} – ✉️ {{ r.email}}
    <br />
    <a
      href="{% url 'modifier_reservation' r.id %}"
      class="btn btn-sm btn-warning mt-2"
      >Modifier</a
    >
    <a
      href="{% url 'supprimer_reservation' r.id %}"
      class="btn btn-sm btn-danger mt-2"
      >Annuler</a
    >
  </li>
  {% empty %}
  <li class="list-group-item">Aucune réservation trouvée.</li>
  {% endfor %}
</ul>

{% endblock %}
