{% extends 'base.html' %}
{% block content %}
<h2>🎁 Menus promotionnels</h2>
<a href="{% url 'menu_promo_create' %}" class="btn btn-success mb-3">➕ Ajouter un menu</a>

<table class="table">
  <thead>
    <tr><th>Nom</th><th>Plats</th><th>Prix promo</th><th>Actions</th></tr>
  </thead>
  <tbody>
    {% for menu in menus %}
      <tr>
        <td>{{ menu.nom }}</td>
        <td>{{ menu.plat_principal.nom }} + {{ menu.plat_associe.nom }}</td>
        <td>{{ menu.prix_total }} €</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
